footer {
    width: calc(100% - 80px);
    padding: 40px 40px;
    margin-top: 20px;
    background-color: #424242;
    overflow: hidden;
}
footer ul {
    width: fit-content;
    float: left;
    padding-left: 20px;
}

footer ul li {
    display: block;
    list-style: none;
}

footer ul li a {
    font-family: 'Catamaran', sans-serif;
    font-size: 20px;
    color: #f1f1f1;
    font-weight: 700;
    line-height: 30px;
}

footer ul li a:hover {
    color: #1bdd65;
    transition: 0.4s;
}

.footer-links-location {
    display: none;
}

.social-icons{
    width: 35px;
    float: right;
}

.social-icons img {
    width: 100%;
    margin-bottom: 10px;
}

/*Responsividade para meu footer do desktop*/
@media only screen and (min-width: 1000px) {
    footer {
        width: calc(100% - 80px);
        padding: 20px 20px;
        margin-top: 20px;
        background-color: #0c0c0c;
        overflow: hidden;
    }
    
    footer {
        margin-top: 10px;
    }
    footer ul li p {
        font-family: 'Catamaran', sans-serif;
        font-size: 23px;
        color: #f1f1f1;
        font-weight: 900;
        line-height: 40px;
        text-transform: uppercase;
    }

    footer ul {
        padding-right: 30px;
    }
    

    .footer-links-location {
        display: block;
    }
    .footer-links-location li a {
        font-size: 19px;
        color: #111;
    }

    .social-icons img:hover {
      color: blue;
    }
}

