/*Estilizando o header do meu website*/
* {
    text-decoration: none;
}

body {
    background-color: #0c0c0c;
}

header {
    background-color:black;
    width: 100%;
    height: 100px;
}

header .header-brand {
    font-family: 'Catamaran', sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #ffffff;

    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}
header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li  {
    display: inline-block;
    float: left;
    list-style: none;
    padding: 0 16px;
}

header nav ul li a  {
    font-family: 'Catamaran', sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;

}

header nav ul li a:hover  {
    font-weight: bold;
    transition: 0.4s;
    color: #1bdd65;
   
}

header .header-cases {
    display: none;
}
/*Responsividade para meu header para desktop*/
@media only screen and (min-width: 1000px) {
    header .header-brand {
        margin: 31px 0;
        text-align: left;
        line-height: 38px;
        padding: 0px 20px 0px 40px;
        border-right: 2px solid #1bdd65;
        float: left;
    }

    header nav ul {
        margin: 20px 0px 0px 20px;
        float: left;
    }
    
    header nav ul li a  {
        line-height: 60px;
    }

    
    header .header-cases {
        display: block;
        font-family: 'Catamaran', sans-serif;
        font-size: 16px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 40px;
        border: 3px solid rgb(253, 253, 253);
        float: right;
        margin-right: 40px;
        margin-top: 30px;
        padding: 0 20px;
    }

    header .header-cases:hover {
        color: #1bdd65;
        border: 3px solid #1bdd65;
        transition: 0.4s;
    }
}
