
.index-links div {
    margin: 16px 16px 0px;
    width: calc(100% - 32px);
    height: 100px;
    background-color: #dfdbdb;
}
.index-links div:hover,
.index-links div h3:hover {
    background-color: #111;
    color: #ffffff;
    transition: 0.6s;

}


.index-links div  h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 100px;
    color: #111;
    text-align: center;
    text-transform: uppercase;
}

/*Responsividade para minha box-links do desktop*/
@media only screen and (min-width: 1000px) {
 
    .index-links div {
        margin: 20px 10px 0px;
        height: 230px;
        background-color: #dfdbdb;
        float: left;
    }

    .index-links {
        padding-bottom: 20px;
        overflow: hidden;
    }

    .index-boxlink-square {
        width: calc(25% - 20px) !important;

    }

    .index-boxlink-retangulo {
        width: calc(50% - 20px) !important;

    }

    .index-links div  h3 {
        line-height: 230px;
       
    }
}




